* {
  margin: 0px;
  padding: 0px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
@font-face {
  font-family: "clarendon regular";
  src: url("../assets/Clarendon-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "apex sans";
  src: url("../assets/ApexSansBook.ttf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "clarendon regular";
  text-decoration: none;
}
.counterContainer {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: -68% 0% 0% 72%;
}
.button-counter {
  background: none;
  border: none;
}
.likes {
  margin: -50% 0% 0% 0%;
  text-align: center;
}
