* {
  margin: 0px;
  padding: 0px;
}
p {
  font-family: "apex sans";
  font-weight: bold;
}
@font-face {
  font-family: "clarendon regular";
  src: url("../assets/Clarendon-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "apex sans";
  src: url("../assets/ApexSansBook.ttf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "clarendon regular";
}
