.leadTittle {
  color: #0093ad;
  text-align: center;
  font-size: 35px;
  margin: 9% 0% 0% 0%;
  text-transform: uppercase;
}

.categoryTittle {
  color: #525759;
  text-align: center;
  font-size: 25px;
  font-family: "clarendon regular";
  text-transform: uppercase;
}

.categoryButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0% 10% 0%;
  position: relative;
}
.img-category {
  width: 80%;
  max-width: 500px;
  height: 35vh;
  border-radius: 20px;
}

.category-name {
  width: 80%;
  margin-top: -14%;
  height: 8vh;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 0px 0px 20px 20px;
}

.button-category {
  background: none;
  border: none;
}
