/* vista categorias */

.leadTittle{
  color: #0093AD;
  text-align: center;
  font-size: 35px;
  margin: 9% 0% 0% 0%;
  text-transform: uppercase;
}

.categoryTittle{
  color: #525759;
  text-align: center;
  font-size: 25px;
  font-family: "clarendon regular";
  text-transform: uppercase;
}

.categoryButtons{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;

}

    .chileanCuisine{
        background-image:url(../assets/Categoria-1.jpg);
        background-repeat:no-repeat;
        background-size: contain;
        width: 69%;
        height: 27vh;
        border-radius: 13%;  
    } 
     .chileanCuisine .chileanCuisineText{
         background-color: #E56F2D;
     }

    .kidsCuisine{
        background-image:url(../assets/Categoria-2.jpg);
        background-repeat:no-repeat;
        background-size: 100% 80%;
        width: 69%;
        height: 27vh;
        border-radius: 13%;
        text-decoration: none;
    }

    .dessertsSweets{
        background-image:url(../assets/Categoria-3.jpg);
        background-repeat:no-repeat;
        background-size: 100% 80%;
        width: 69%;
        height: 27vh;
        border-radius: 13%;
        text-decoration: none;
    }

    .sides{
        background-image:url(../assets/Categoria-4.jpg);
        background-repeat:no-repeat;
        background-size: 100% 80%;
        width: 69%;
        height: 27vh;
        border-radius: 13%;
        text-decoration: none;
    }

    .backgroundDishes{
        background-image:url(../assets/Categoria-5.jpg);
        background-repeat:no-repeat;
        background-size: 100% 80%;
        width: 69%;
        height: 27vh;
        border-radius: 13%;
    }

    .creamsSoups{
        background-image:url(../assets/Categoria-6.jpg);
        background-repeat:no-repeat;
        background-size: 100% 80%;
        width: 69%;
        height: 27vh;
        border-radius: 13%;

    }