.nacho {
  width: 100%;
}
.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-vegetables-top {
  width: 100%;
}
.title-home {
  color: #0093ad;
  padding: 7%;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
.search-img {
  width: 306px;
  height: 64px;
}

.recipes-containerhome {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #525759;
  height: 41vh;
}
.p {
  width: 81%;
  padding-top: 4%;
}
.getIn,
.see-menus,
.see-tips {
  border: 2px solid #0093ad;
  border-radius: 100px;
  padding: 5%;
  width: 50%;
  height: 7vh;
  color: white;
  background: #0093ad;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px 0% 26px 0%;
}
.banner-vegetables-bottom {
  width: 100%;
}
.text-containerGray {
  background: #525759;
  color: white;
  font-size: 16px;
  padding: 5%;
}
.weekly-menu,
.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
  margin-top: 12%;
  color: #525759;
}
.title-menu,
.title-tips {
  margin: 4% 0% 4% 0%;
  font-weight: bold;
  font-size: 22px;
}

.react-player-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  /* padding: 0% 10% 0% 10%; */
  box-sizing: border-box;
  width: 100%;
  height: 37vh;
}

.react-player {
  position: absolute;
  top: 0;
  border-radius: 20px;
  overflow: hidden;
  height: 232px;
}
