.container-info-preparation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 10px;
  color: #525759;
  justify-content: center;
  align-items: flex-end;
  height: 16vh;
}
.icon-difficulty {
  width: 31%;
}
.difficulty-preparation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 3% 0% 0%;
}
h1.info-top-img, span.minuts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #525759;
  text-transform: uppercase;
}
.time-preparation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid #575c5e6b;
  padding: 0% 3% 0% 3%;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #525759;
  text-transform: uppercase;
}
.portions-preparation {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #575c5e6b;
  padding: 0% 0% 0% 3%;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #525759;
  text-transform: uppercase;
}
.img-preparation {
  width: 82%;
  max-width: 500px;
  height: 35vh;
  border-radius: 20px;
  margin: 8%;
}
.container-box {
  background: #525759;
  color: white;
  height: 41vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: -41%;
}
.share-download {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.icon-share {
  display: flex;
  flex-direction: row;
  padding: 8% 20% 8% 9%;
}
.ingredients-title,
.nutritional-title,
.preparation-title {
  color: #525759;
  text-align: center;
  padding: 7%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.ingredient-div {
  display: flex;
  flex-direction: column;
}
.container-ingredients {
  display: flex;
  flex-direction: row;
  margin: 2px 4px 15px 1px;
  padding: 1px;
}
.text-ingredients {
  padding: 0% 2% 6% 15%;
}
.img-add {
  margin-right: 2%;
  height: 21px;
  width: 21px;
}
.add {
  background: none;
  border: 2px solid #0093ad;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 5%;
  margin: 3% 0% 5% 0%;
  width: 50%;
  height: 7vh;
  color: #0093ad;  
  font-size: 105%;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy {
  border: 2px solid #0093ad;
  border-radius: 100px;
  padding: 5%;
  width: 50%;
  height: 7vh;
  color: white;
  background: #0093ad;
  font-size: 105%;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}
.container-button-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nutritional-preparation {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background: white;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 14vh;
  border-radius: 62px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}
.container-nutritional {
  background: #f2f2f2;
  height: 34vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ce7da6;
}
.kcal {
  color: #525759;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.container-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.li-preparation {
  display: flex;
}
ol {
  counter-reset: item 0;
}
li {
  margin: 0 0 0 6%;
  color: #FFFFFF ;
}
li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #ce7da6;
  font-size: 42px;
  font-family: "clarendon regular";
  margin: 0% 0% 0% 4%;
}
.text-preparation {
  padding: 0% 7% 7% 5%;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}
.container-preparation {
  margin-top: 12%;
}
.heartPreparation {
  position: absolute;
  margin: 12% 0% 0% -24%;
  z-index: 3;
}
