/* vista recipes */
.container-recipes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
.banner-fruits-top {
  width: 100%;
}

/* carta con imagen, boton y texto */
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0% 10% 0%;
  position: relative;
}

img.heart {
  position: absolute;
  left: 261px;
  top: 15px;
  z-index: 3;
}

.button-card {
  background: none;
  border: none;
}

.img-recipes {
  width: 77%;
  max-width: 500px;
  height: 33vh;
  border-radius: 20px;
}

.recipes-name {
  background: #ce7da6;
  width: 77%;
  margin-top: -14%;
  height: 8vh;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/*información de dificultad y tiempo por receta*/
.container-extra-info {
  width: 77%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  background: #525759;
  border-radius: 0px 0px 20px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.difficulty-info {
  display: flex;
  width: 45%;
  height: 5vh;
  padding: 2px;
  box-sizing: border-box;
}

.difficulty-info img {
  width: 28px;
  margin: -4% 3% 0% 4%;
  height: 5vh;
}

p.time-info {
  font-family: "clarendon regular";
  width: 45%;
  height: 3vh;
  padding: 2px;
  box-sizing: border-box;
}

span.span-minuts {
  font-family: "apex sans";
}
.container-title-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 0 0;
}
.title-recipes {
  color: #ce7da6;
  font-style: normal;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  font-weight: bold;
}

.title-recipesTwo {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #ce7da6;
  padding: 2%;
  text-transform: uppercase;
  font-weight: bold;
}
.title-recipesThree {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #525759;
  padding: 2%;
  text-transform: uppercase;
}

/* boton para personalizar receta */
.container-button-find {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.button-find {
  background: #ffffff;
  border: 4px solid #c5c6c7;
  box-sizing: border-box;
  width: 265px;
  height: 69px;
  border-radius: 100px;
}

.button-find a {
  text-decoration: none;
  font-family: "clarendon regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #525759;
}

/* texto para personalizar receta */
.text {
  font-family: "apex sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  padding: 21px;
}

/* boton volver */
.back {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  margin-left: 17%;
  margin-top: 5px;
}

.back-text {
  font-family: "apex sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #0093ad;
}

.container-text {
  margin: 5% 0;
}
.banner-fruits-bottom {
  width: 100%;
}