.title-container-diet {
    font-family: "clarendon regular";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #525759;
    height: 49px;

    
}

.container-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.container-btn-filter {
    display: flex;
    flex-direction: column;
    
    
}

.btn-filter {
    width: 306px;
    height: 69px;
    background: #FFFFFF;
    border: 4px solid #C5C6C7;
    box-sizing: border-box;
    border-radius: 100px;
    margin-bottom: 18px;
    font-family: 'clarendon regular';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 17px;
    color: #525759;
    text-transform: uppercase;

}

a.diet-name {
    font-family: 'clarendon regular';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 17px;
    text-decoration: none;
    color: #525759;
    text-transform: uppercase;
}

.container-btn-bn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    height: 80px;

}

.btn-back {
    width: 130px;
    height: 40px;
    background-color:  #FFFFFF;
    border: 2px solid #0093AD;
    box-sizing: border-box;
    border-radius: 100px;
}

.btn-back a {
    font-family: "apex sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #0093AD;
    text-decoration: none;

}

.btn-next {
    width: 130px;
    height: 40px;
    background: #0093AD;
    border: 2px solid #0093AD;
    box-sizing: border-box;
    border-radius: 100px;
}
.btn-next a {
    font-family: "apex sans" ;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
}